<div class="centrar">
  <a routerLink="/autos">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Autos</mat-card-title>
        <div mat-card-avatar>
          <mat-icon>directions_car</mat-icon>
        </div>
      </mat-card-header>
    </mat-card>
  </a>
  <a routerLink="/mecanicos">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Mecanicos</mat-card-title>
        <div mat-card-avatar>
          <mat-icon>engineering</mat-icon>
        </div>
      </mat-card-header>
    </mat-card>
  </a>
</div>
